Flask
flask-cors
flask-bcrypt
flask-jwt-extended
flask_apscheduler
python-dotenv
requests
SQLAlchemy
Flask-SQLAlchemy
Werkzeug
APScheduler
click
eventlet
cryptography
thefuzz
python-Levenshtein
flask-socketio
